@charset "UTF-8";

/* ----------------------------------------- */
html, body,p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: inherit;
	font-size: 100%;
	font-size:13px;
	line-height: 17px;
	color:#000;
}

body {
	line-height: 1;
}

.clear {
	clear:both;
}


/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image:url(../images/ptop.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(../images/pmid.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}



/* ENTRIES */
/* ----------------------------------------- */

.entry {
	width:720px;
	display: block;
	padding-top:55px;
	clear: both;
	margin-left:4px;
}

h1  {
	width:250px;
	font-size:42px;
	color:#803a3a;
	margin-bottom:3px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#803a3a;
	margin-top:-5px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#803a3a;
	margin-bottom:-12px;
}

p {
	width:500px;
	margin-left:40px;
	float:right;	
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:32px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#ab7979;
}

ol {
	float:right;
	width:500px;
	margin-left:40px;
	list-style: decimal;
	
}

ul.unordered {
	float:right;
	width:500px;
	margin-left:40px;
	
}

ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}

ul.works {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}



img.portrait {
	background-image:url(../images/frame.jpg);
	background-repeat: no-repeat;
	width:109px;
	height:109px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;
	
}


.self {
	width:250px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:15px;
}












